# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
collection_list = db.list_collection_names()
print("Collections in uk_food:", collection_list)

Collections in uk_food: ['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [12]:
# Find the establishments with a hygiene score of 20
query = {"hygiene_score": 20}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
# Display the first document in the results using pprint
print(f"Number of establishments with a hygiene score of 20: {count}")
if count > 0:
    # Find and display the first document in the results using pprint
    result = establishments.find(query).limit(1)
    pprint(list(result)[0])
else:
    print("No establishments found with a hygiene score of 20.")

Number of establishments with a hygiene score of 20: 0
No establishments found with a hygiene score of 20.

In [11]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(results))
# Display the number of rows in the DataFrame
print(f"Number of rows in the DataFrame: {df.shape[0]}")
# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

NameError: name 'results' is not defined

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [15]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {"local_authority": "London", "RatingValue": {"$gte": 4}}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print(f"Number of establishments in London with a RatingValue >= 4: {count}")
# Display the first document in the results using pprint
result = establishments.find(query).limit(1)
pprint(list(result)[0])

Number of establishments in London with a RatingValue >= 4: 0

IndexError: list index out of range

In [16]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(results))

# Display the number of rows in the DataFrame
print(f"Number of rows in the DataFrame: {df.shape[0]}")

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

NameError: name 'results' is not defined

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [1]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
# Define the query to search establishments within the range of latitude and longitude and RatingValue = 5
query = {
    "latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
    "longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search},
    "RatingValue": 5
}

# Define the sorting by hygiene_score in descending order
sort = [("hygiene_score", 1)]  # 1 for ascending, -1 for descending

# Set a limit for the results
limit = 10  # For example, limit to the top 10 results

# Find the results, sorted by hygiene score
results = establishments.find(query).sort(sort).limit(limit)

# Print the results
for result in results:
    pprint(result)

NameError: name 'latitude' is not defined

In [2]:
# Convert result to Pandas DataFrame
df = pd.DataFrame(list(results))

# Display the number of rows in the DataFrame
print(f"Number of rows in the DataFrame: {df.shape[0]}")

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

NameError: name 'pd' is not defined

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [3]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

# Define the pipeline

pipeline = [
    # Step 1: Match establishments with a hygiene score of 0
    {"$match": {"hygiene_score": 0}},
    
    # Step 2: Group the matches by Local Authority and count the number of establishments in each
    {"$group": {
        "_id": "$local_authority",  # Group by Local Authority
        "count": {"$sum": 1}  # Count the number of establishments for each Local Authority
    }},
    
    # Step 3: Sort the matches by count in descending order (highest to lowest)
    {"$sort": {"count": -1}}
]

# Execute the aggregation pipeline
results = establishments.aggregate(pipeline)

# Convert the results to a list and count the number of documents
results_list = list(results)
print(f"Number of documents in the result: {len(results_list)}")

# Display the first 10 results
print("First 10 results:")
for result in results_list[:10]:
    pprint(result)

NameError: name 'establishments' is not defined

In [4]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(results))

# Display the number of rows in the DataFrame
print(f"Number of rows in the DataFrame: {df.shape[0]}")

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

NameError: name 'pd' is not defined